.row-header {
    margin: 0px auto;
    padding: 0px;
}
.row-content {
    margin: 0px auto;
    padding: 25px 0px 25px 0px;
    border-bottom: 1px ridge;
}


.jumbotron{
    background-color: #9575CD;
    color:  floralwhite;
}

.footer {
    background-color: #D1C4E9;
    padding: 20px 0px 20px 0px;
}

address{
    font-size: 80%;
    margin:  0px;
    color: yello;
    
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}
