

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}


.jumbotron{
    background-color: #9575CD;
    color:  floralwhite;
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.row-content {
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px ridge;
    

}
